
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-left: 80px; 
  padding-top: 60px;  
  margin-right: 25px;
  font-family: Roboto, Arial, sans-serif;
}

p {
  margin: 0;
}

p:hover {
  cursor: pointer;
}
